@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');

body {
    background-image: url("assets/testbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    max-width: 75%;
    margin-inline: auto;
}

p {
    margin: 0;
}

#overlayBar {
    display: grid;
    gap: .1rem;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    "event event event" 
    "red time blue"
    "weightClass time match";
}

#redBar, #blueBar, #timeBar, #eventBar, #weightBar, #matchBar {
    display: flex;
    gap: 1rem;
    /* outline: solid 2px #333; */
    background-color: #cccc;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

#redBar {
    grid-area: red;
    font-size: 2rem;
}

#blueBar {
    grid-area: blue;
    font-size: 2rem;
}

#timeBar {
    grid-area: time;
    font-size: 3rem;
    padding: .5rem 2rem;
}

#eventBar {
    grid-area: event;
}

#weightBar {
    grid-area: weightClass;
    font-size: 1.25rem;
}

#matchBar {
    grid-area: match;
    font-size: 1.25rem;
}