@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;800&display=swap');

body {
    background-image: url("assets/testbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    font-size: x-large;
}