body {
    height: 100vh;
    background-image: url('testbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-family: "Josefin Sans";
    font-weight: 700;
    margin: 0;
    text-shadow: 0 0 3px white;
}

#overlay-grid {
    display: grid;
    grid:   [row1-start] "red timer blue" 1.5fr [row1-end]
            [row2-start] "weight timer match" 1fr [row2-end]
            / 1fr .2fr 1fr;
}

.overlay-bar {
    background-color: #fff6;
    /* border: 1px dotted white; */
    display: flex;
    align-items: center;
}

.robot-bar {
    font-size: 3rem;
    padding-top: 2rem;
}

.detail-bar {
    font-size: 1.25rem;
}

.left-bar {
    justify-content: flex-end;
    padding-inline-end: 3rem;
}

.right-bar {
    justify-content: flex-start;
    padding-inline-start: 3rem;

}

#red-bar {
    grid-area: red;
}


#blue-bar {
    grid-area: blue;
}

#weight-class-bar {
    grid-area: weight;
}

#match-type-bar {
    grid-area: match;
}

#timer-bar {
    grid-area: timer;
    justify-content: center;
    font-size: 3rem;
}

#red-text {
    color: darkred;
}

#blue-text {
    color: darkblue;
}